[Unit]
Description=Daily CS2 Server Auto-Update
Requires=cs2-update.service

[Timer]
OnCalendar=*-*-* 05:00:00 UTC
Persistent=true

[Install]
WantedBy=timers.target
